/* modal */


.order {
    width: 520px;
    height: 120px;
}

.divOrderNumber {
    width: 520px;
    height: 120px;
    margin-bottom: 32px;
}

.orderNumber {
    font-family: 'Iceland', sans-serif;
    line-height: 120px;
    text-align: center;
    color: #F2F2F3;
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.divOrderText {
    width: 520px;
    height: 30px;
    background: #1C1C21;
}


.orderText {
    font-family: 'JetBrains Mono'sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #F2F2F3
}


.done {
    width: 120px;
    height: 120px;
    background: url(./../../images/popup/done.png);
    border: none;
    margin-bottom: 60px;
    margin-top: 60px;
    margin-left: 40%;
}