.burgerConstructor {
    width: 600px;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    flex-wrap: wrap;
}


.constructorElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 568px;
    max-height: 450px;
}

.constructorElemTopBottom {
    padding-right: 18px;
    padding-left: 33px;
}

.constructorComponents {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 568px;
    min-height: 20px;
}

.constructorInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    width: 568px;
    height: 64px;
    margin-top: 20px;
}

.constructorPrice {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    width: 119px;
    height: 64px;
}

.constructorText {
    width: 150px;
    height: 36px;
    font-family: 'Iceland', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 36px;
    text-align: right;
    color: #F2F2F3;
}

.constructorIcon {
    width: 36px;
    height: 36px;
    order: 1;
    flex-grow: 0;
}

.buttonConstructor {
    width: 215px;
    height: 64px;
    background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
    border-radius: 64px;
    border: none;
    box-shadow: 0px 0px 16px 8px rgba(51, 51, 255, 0.25), 0px 0px 8px 8px rgba(51, 51, 255, 0.25);
    filter: drop-shadow(0px 4px 32px rgba(51, 51, 255, 0.5));
    cursor: pointer;
}



.buttonText {
    font-family: 'JetBrains Mono', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
}

.noBuns {
    width: 100%;
    height: 60%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 4px 4px 70px 0px #2c0266;
}

.constructorElemScroll {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    align-items: flex-start;
    max-height: 250px;
    gap: 16px;
    z-index: 0;
    width: 568px
}

.constructorElemScroll::-webkit-scrollbar {
    width: 8px;
    background: #2F2F37;
}

.constructorElemScroll::-webkit-scrollbar-thumb {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 172px;
    background: #8585AD;
    border: 3px solid #8585AD;
}