.mainBurger {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 912px;
    justify-content: center;
    /* interface/bg */
    background: #131316;

}

.titleBurger {
    display: flex;
    width: 600px;
    height: 40px;
    background: #131316;
    align-items: center;
    margin-top: 40px;
}

.titleText {
    font-family: 'JetBrains Mono', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #F2F2F3;
    align-items: center;
    text-align: center;
}