.constructorElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 568px;
    height: 656px;
}

.constructorElemScroll {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    align-items: flex-start;
    max-height: 464px;
    gap: 16px;
    z-index: 0;

}

.constructorElemScroll::-webkit-scrollbar {
    width: 8px;
    background: #2F2F37;
}

.constructorElemScroll::-webkit-scrollbar-thumb {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 172px;
    background: #8585AD;
    border: 3px solid #8585AD;
}

.constructorCenterElem {
    display: flex;
    max-width: 568px;
    width: 100%;
    font-family: 'Jet Brains Mono', sans-serif;
    font-size: 16px;
    align-items: center;
    color: #F2F2F3;
}


.constructorIcon {
    width: 24px;
    height: 24px;
    align-items: center;
    margin-right: 10px;
}

.constructorVector {
    left: 22.92%;
    right: 22.92%;
    top: 12.5%;
    bottom: 11.22%;
}

.constructorElemTopBottom {
    padding-right: 18px;
    padding-left: 33px;
}