.navPanel {
    box-sizing: border-box;
    position: absolute;
    height: 88px;
    left: 2%;
    right: 2%;
    top: 40px;
    /* interface/modal-bg */
    background: #1C1C21;
    /* interface/accent */

    /* card/x-large */
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.navContent {
    position: absolute;
    width: 1280px;
    height: 56px;
    left: calc(50% - 1280px/2);
    top: calc(50% - 56px/2);
}

.navLogo {
    position: absolute;
    width: 289.15px;
    height: 40px;
    left: 495px;
    top: 8px;
    /* interface/modal-bg */
    background: #1C1C21;

}

.navLink {
    /* Auto layout */
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 383px;
    height: 56px;
    left: 0px;
    top: calc(50% - 56px/2);

    background: #1C1C21;
}

.mainNav {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    gap: 8px;

    /* interface/modal-bg */
    background: #1C1C21;

    border-radius: 40px;
}

.constructorNav {
    composes: mainNav;
    width: 178px;
    height: 56px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.orderNav {
    composes: mainNav;
    width: 197px;
    height: 56px;
    /* interface/modal-bg */

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.accountNav {
    composes: mainNav;

    position: absolute;
    width: 207px;
    height: 56px;
    left: 1073px;
    top: 0px;

    /* interface/modal-bg */

    background: #1C1C21;

    border-radius: 40px;
}

.navText {
  /* desktop/text */

    font-family: 'JetBrains Mono', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

}