@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 300;
  src: url("./fonts/JetBrains_Mono/static/JetBrainsMono-Italic.ttf") format("ttf");
}

@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts//Iceland/Iceland-Regular.ttf") format("ttf");
}

.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
  position: absolute;
}

.modalWrapper {
  position: fixed;
  right: 30%;
  top: 1%;
  z-index: 3;
}