.navPanel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
    left: 2%;
    right: 2%;
    top: 40px;
    background: #1C1C21;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

nav a {
    text-decoration: none;
}

.activeLink {
    color: #4C4CFF;
}

.navContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1280px;
    height: 56px;
    left: calc(50% - 1280px/2);
    top: calc(50% - 56px/2);
}

.navLogo {
    width: 289.15px;
    height: 40px;
    top: 5px;
    background: #1C1C21;
    position: relative;
    right: 100px;

}

.navLink {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 383px;
    height: 56px;
    left: 0px;
    top: calc(50% - 56px/2);
    background: #1C1C21;
    padding-left: 10px;
}

.mainNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    background: #1C1C21;
    border-radius: 40px;
}

.constructorNav {
    composes: mainNav;
    width: 178px;
    height: 56px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.orderNav {
    composes: mainNav;
    width: 197px;
    height: 56px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.accountNav {
    composes: mainNav;
    width: 207px;
    height: 56px;
    background: #1C1C21;
    border-radius: 40px;
    justify-content: center;

}

.navText {
    font-family: 'JetBrains Mono', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #8585AD;
}

.activeLink {
    background-color: #8585AD;
}